
#div-title {

    width: 95%;
    height: 20%;
    
}

#title-additems {

    border-top: 5vh solid transparent;
    border-bottom: 2vh solid transparent;
    border-left: 3vh solid transparent;
    height: 45%;
}

#margin-title {
    height: 3px;
    background-color: #2A2A2A;
    width: 100%;
    border: none;
}


#div-passcontent {
    display: flex;
    flex-direction: column;
    padding-left: 24vh;
    padding-top: 4vh;
    grid-column: 1;
    width: 60%;
    height: 80%;
   
}

.label-add {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 4.5vh;
    font-style: normal;
    color: #9f41ff;
    margin-left: 3.5vh;
    
  }


.input-space {
    width: 95%;
    background-color: transparent; 
    color: #efe6df; 
    border: 2px solid #2A2A2A; 
    border-radius: 15px; 
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    margin-top: 1.2vh;
    margin-bottom: 4vh;
}

.input-space:focus {
    outline: none;
    border-color: #9f41ff;
}


#send-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 5vh;
    font-style: normal;
    background-color: #9f41ff;
    padding: 15px;
    color: #efe6df;
    border: transparent;
    border-radius: 15px;
    margin-left: 33vh;
    margin-top: 7vh;

}

#send-button:hover {
    border: 0px solid transparent;
    cursor: pointer;
    filter: drop-shadow( 0px 0px 10px #09090962);
    
}