
#div-title {   
    width: 95%;
    height: 20%
    
} 

#title-allitems {
    border-top: 5vh solid transparent;
    border-bottom: 3vh solid transparent;
    border-left: 3vh solid transparent;
    height: 40%;
}

#margin-title {
    height: 3px;
    background-color: #2A2A2A;
    width: 100%;
    border: none;
}


#div-passcontent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 93%;
    height: 100%;
    overflow-y: scroll;
    padding-top: 1vh;
    padding-left: 5vh;

}


.container-items {
    padding: 3vh;
    width: 45vh;
    height: 24vh;
    margin: 3.5vh 5vh;
    background-color: #383838;
    border-radius: 25px;
    filter: drop-shadow( 0px 0px 12px #00000023);
}

.second-cont {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 70%;
    padding-top: 2vh;
}

.name-item {
    font-family: "Roboto", sans-serif;
    font-weight: 530;
    font-size: 5.5vh;
    font-style: normal;
    color: #9f41ff;
    margin-bottom: 2vh;
    margin-left: 2vh;
}

.user-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3vh;
    font-style: normal;
    color: #efe6df;
    border: 2vh transparent;
    margin-left: 4vh;
    margin-top: 2vh;
}

.pass-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3vh;
    font-style: normal;
    color: #efe6df;
    margin-top: 1vh;
    margin-left: 4vh;
}