
#div-title {

    width: 95%;
    height: 20%;
    
}

#title-allitems {

    border-top: 5vh solid transparent;
    border-bottom: 3vh solid transparent;
    border-left: 3vh solid transparent;
    height: 40%;
}

#margin-title {
    height: 3px;
    background-color: #2A2A2A;
    width: 100%;
    border: none;
}


#div-passcontent {
    width: 96%;
    height: 80%;
    overflow-y: scroll;
}