{% extends "layout/dashboard.html" %}

{% block title %}
Secret manager: home
{% endblock title %}

{% block subheader %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/pages/secret_manager.css') }}">
{% endblock subheader %}



{% block dashboard_content%}
    <div id="div-title">
        <img src="../../static/img/all items title.png" id="title-allitems">
        <div>
            <hr id="margin-title">
        </div> 
    </div>
    <div id="div-passcontent">

    </div>

{% endblock dashboard_content%}

